.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('https://www.cnet.com/a/img/CSTqzAl5wJ57HHyASLD-a0vS2O0=/940x528/2021/04/05/9e065d90-51f2-46c5-bd3a-416fd4983c1a/elantra-1080p.jpg');
    height: calc(-45px + 100vh);
    min-height: 600px;
}

.signup-box {
    max-width: 440px;
    width: 100%;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 16px;
    margin: auto;
    height: 80vh;
}

.signup-title {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #1890ff;
}

.terms-text {
    font-weight: 500;
    color: #555;
    margin-top: 16px;
    margin-bottom: 16px;
}

.terms-link {
    color: #1890ff;
    text-decoration: underline;
}

.signin-link {
    margin-top: 20px;
    text-align: left;
}

.signin-link a {
    color: #1890ff;
    text-decoration: underline;
}